USE [TestDB_2021_CE_58]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 9/9/2023 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID_Name] [varchar](10) NULL,
	[ID_num] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Student] ([ID_Name], [ID_num]) VALUES (N'hasan', N'58        ')
INSERT [dbo].[Student] ([ID_Name], [ID_num]) VALUES (N'ab', N'32        ')
INSERT [dbo].[Student] ([ID_Name], [ID_num]) VALUES (N'juni', N'33        ')
GO
